<div class="wrapper">
  <div class="row">
    <div class="col-md-6">

      <h1>
        Uncovering The <br />
        Excellence Of Our <br />
        Recent Spa Oferrings
      </h1>
    </div>
    <div class="col-md-2">
      <h5>MENU</h5>
      <p>Home</p>
      <p>About</p>
      <p>Contact us</p>
      <p>FAQ</p>
    </div>
    <div class="col-md-2">
      <h5>SOCIAL</h5>
      <p>Twitter</p>
      <p>Instagram</p>
      <p>Facebook</p>
    </div>
    <div class="col-md-2">
      <h5>LEGAL</h5>
      <p>Terms of Use</p>
      <p>Privacy Policy</p>
      <p>Legal Notice</p>
    </div>
  </div>
</div>
