<div class="page">
  <div class="spot1"></div>
  <div class="spot2"></div>
  <div class="wrapper">
    <div class="leftcol">
      <img src="assets/images/about-us/about-1.jpg" alt="about-1" />
    </div>
    <div class="rightcol">
      <h1>
        Exquisite Med Spa Provides <br />
        Professional and Affordable <br />
        Beauty and Wellness Services
      </h1>
      <p>
        Welcome to our tranquil oasis, where relaxation and rejuvenation awaits
        you. At exquisite med spa, we are dedicated to providing the ultimate
        spa experience, designed to soothe your senses and nurture your
        well-being. Our luxurious spa is a heaven of serenity, carefully crafted
        to transport you away from your everyday worries. Step into our inviting
        sanctuary, and let our skilled therapists and staff take care of your
        needs, ensuring that you leave feeling refreshed, rejuvenated, and
        renewed.
        <span>Show More...</span>
      </p>
      <a
        ><img src="assets/images/about-us/play.svg" alt="play" />Watch Our
        Story</a
      >
      <img src="assets/images/about-us/about-2.jpg" alt="about-2" />
    </div>
  </div>
</div>
