<div class="wrapper">
  <div class="topSection">
    <h1>Our Recent Works</h1>
    <p>Explore Exquisite spa's recent successes</p>
  </div>
  <div class="bottomSection">
    <img src="/assets/images/recent/1.jpg" alt="sliderImage" />
    <img src="/assets/images/recent/2.jpg" alt="sliderImage" />
    <img class="middleImage" src="/assets/images/recent/3.jpg" alt="sliderImage" />
    <img src="/assets/images/recent/4.jpg" alt="sliderImage" />
    <img src="/assets/images/recent/5.jpg" alt="sliderImage" />
  </div>
</div>
