.wrapper {
  width: 100%;
  position: relative;
}

.topSection {
  color: #ebd8bf;
  font-family: kiyana;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 0px;
}

.topSection h1 {
  font-size: 70px;
  font-weight: 500;
}

.topSection p {
  font-size: 1.3rem;
}

.bottomSection {
  display: flex;
  justify-content: center;
  padding-inline: 2rem;
  padding-bottom: 3rem;
}

.bottomSection img {
  width: calc(100% / 7);
  aspect-ratio: 9/16;
  object-fit: cover;
  padding: 8px;
}

.middleImage {
  width: calc(100% / 5) !important;
  object-fit: cover;
  padding: 8px;
}


.spot1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    rgba(200, 151, 34, 0.1) 0%,
    rgba(200, 151, 34, 0) 70%
  );
  border-radius: 50%;
  z-index: 1;
}

.spot2 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 700px;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    rgba(200, 151, 34, 0.2) 0%,
    rgba(200, 151, 34, 0) 70%
  );
  border-radius: 50%;
  z-index: 40;
}