<div class="wrapper">
  <div class="">
    <div id="heroText">
      <div class="title">
        <h1>Max Your Beauty</h1>
        <h1>With Exquisite</h1>
        <h1>
          Med Spa <img src="assets/images/hero/hero-star.png" alt="heroStar" />
        </h1>
      </div>

      <div class="bottomText">
        <p>We provide beauty and treatment services of the best quality</p>
        <div class="heroLinks">
          <a>Book an appointment</a>
          <a> See Previous Works <fa-icon [icon]="faArrowRight"></fa-icon> </a>
        </div>
      </div>
    </div>
  </div>
  <div class="bottomFrame">
    <div class="serviceList">
      <ul>
        <li class="listItem">
          <div class="packageItem">
            <img src="assets/images/hero/people.svg" alt="group" />Great Quality
            Service
          </div>
        </li>
        <li class="listItem">
          <div class="packageItem">
            <img src="assets/images/hero/heart.svg" alt="heart" />
            Exquisite Treatment
          </div>
        </li>
        <li class="listItem">
          <div class="packageItem">
            <img src="assets/images/hero/shield.svg" alt="shield" />100%
            Satisfaction Guarantee
          </div>
        </li>
      </ul>
    </div>
  </div>
  <img id="heroImage" src="assets/images/hero/hero.png" alt="heroImage" />
</div>
