<div class="wrapper">
  <div class="spot1"></div>
  <div class="reviewContainer container">
    <div class="row">
      <div class="left col-md-6 col-sm-12">
        <div class="topText">
          <h1>What Our Beloved Customers Say About Our Services</h1>
          <p>Read the latest reviews here</p>
        </div>

        <div class="review">
          <img src="/assets/images/reviews/1.jpg" alt="review" />
          <div class="rating">
            <img src="/assets/images/reviews/star.svg" alt="ratingstar" />
            <img src="/assets/images/reviews/star.svg" alt="ratingstar" />
            <img src="/assets/images/reviews/star.svg" alt="ratingstar" />
            <img src="/assets/images/reviews/star.svg" alt="ratingstar" />
            <img src="/assets/images/reviews/half-star.svg" alt="ratingstar" />
            <p>(4.5 star rating)</p>
          </div>
          <p>
            Visiting Exquisite Spa exceeded all my expectations. The atmosphere
            was very relaxing and welcoming and the staff was friendly and
            attentive. I opted for a hot stone massage, and it was pure bliss.
            The therapist's technique was exceptional, and I felt the tension
            melt away. I will definitely be back!
          </p>
        </div>
      </div>
      <div class="right col-md-6 col-sm-12">
        <div class="review">
          <img src="/assets/images/reviews/2.jpeg" alt="review" />
          <div class="rating">
            <img src="/assets/images/reviews/star.svg" alt="ratingstar" />
            <img src="/assets/images/reviews/star.svg" alt="ratingstar" />
            <img src="/assets/images/reviews/star.svg" alt="ratingstar" />
            <img src="/assets/images/reviews/star.svg" alt="ratingstar" />
            <img src="/assets/images/reviews/star.svg" alt="ratingstar" />
            <p>(5 star rating)</p>
          </div>
          <p>
            Visiting Exquisite Spa was an incredible experience from start to
            finish. The moment I walked through the door, I was greeded with a
            warm and friendly smile. The staff made me feel welcome and
            comfortable right away. The ambiance of the spa was absolutely
            amazing and I immediately felt the stress melt away.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="form container">
    <div class="row">
      <div class="col-6 leftColPoint">
        <div class="point">
          <img src="/assets/images/reviews/location.svg" alt="reviewIcon" />
          <div class="desc">
            <h5>Find us here</h5>
            <p>
              1234 Randomstreet <br />
              Randomcity, Randomplace 12345
            </p>
          </div>
        </div>
        <div class="point">
          <img src="/assets/images/reviews/phone.svg" alt="reviewIcon" />
          <div class="desc">
            <h5>Call us</h5>
            <p>(303) 555-555</p>
          </div>
        </div>
        <div class="point">
          <img src="/assets/images/reviews/mail.svg" alt="reviewIcon" />
          <div class="desc">
            <h5>Email address</h5>
            <p>exquisite@example.com</p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row contactForm">
          <div class="col-md-6 contactField">
            <label for="firstname">First Name</label>
            <input type="text" name="firstname" />
          </div>
          <div class="col-md-6 contactField">
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" />
          </div>
          <div class="col-md-6 contactField">
            <label for="phone">Phone Number</label>
            <input type="text" name="phone" />
          </div>
          <div class="col-md-6 contactField">
            <label for="email">Email Address</label>
            <input type="text" name="email" />
          </div>
          <div class="col-md-12 contactField message">
            <label for="message">Your Message</label>
            <input type="text" name="message" />
          </div>
          <a>Send</a>
        </div>
      </div>
    </div>
  </div>
</div>
