<div class="wrapper">
  <nav class="navbar navbar-expand-lg mx-5">
    <a class="navbar-brand" href="#">
      <fa-icon [icon]="faSpa"></fa-icon>
      <span>Exquisite</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Our Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Our Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>

    <div class="navbar-nav ml-auto bookNow">
      <a class="nav-item nav-link" href="#">Book now</a>
    </div>
  </nav>
</div>
