/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: kiyana;
    src: url(assets/fonts/KiyanaDisplay-UltraLight.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* For WebKit based browsers */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #dcab35;
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #222222;
  }