/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: kiyana;
    src: url(../assets/fonts/KiyanaDisplay-UltraLight.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}